# Anthropic
ANTHROPIC_API_KEY=

# Supabase
SUPABASE_URL=https://xfvhrnydfeyjnsskpnkj.supabase.co
SUPABASE_ANON_KEY=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Evolution API
EVOLUTION_API_URL=http://elevafly-evolution-api.nrzyat.easypanel.host
EVOLUTION_API_KEY=A7712D64ECB4-4685-B5D6-1E99CBA0F6DD

# ElevenLabs
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=13auRs13gEKuqxX054G2

# Audio upload CDN
AUDIO_UPLOAD_URL=https://plugfal.com.br/upload.php

# Webhook
PORT=3000
WEBHOOK_SECRET=
